In [1]:
import pandas as pd
import numpy as np
import csv as csv
from sklearn.ensemble import RandomForestClassifier

In [2]:
train_df = pd.read_csv('train.csv', header=0)

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB

In [5]:
train_df[:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [7]:
train_df['Gender'] = train_df['Sex'].map({'female' :0, 'male':1}).astype(int)

In [13]:
if len(train_df.Embarked[ train_df.Embarked.isnull() ]) > 0:
    train_df.Embarked[ train_df.Embarked.isnull() ] = train_df.Embarked.dropna().mode().values

In [19]:
Ports = list(enumerate(np.unique(train_df['Embarked'])))

In [20]:
Ports

[(0, 'C'), (1, 'Q'), (2, 'S')]

In [21]:
Ports_dict = { name : i for i, name in Ports }

In [24]:
train_df.Embarked = train_df.Embarked.map(lambda x: Ports_dict[x]).astype(int)

In [25]:
median_age = train_df['Age'].dropna().median()

In [26]:
if len(train_df.Age[ train_df.Age.isnull() ]) > 0:
    train_df.loc[ (train_df.Age.isnull()), 'Age'] = median_age

In [27]:
train_df = train_df.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'PassengerId'], axis=1)

In [29]:
train_df[:10]

   Survived  Pclass  Age  SibSp  Parch     Fare  Embarked  Gender
0         0       3   22      1      0   7.2500         2       1
1         1       1   38      1      0  71.2833         0       0
2         1       3   26      0      0   7.9250         2       0
3         1       1   35      1      0  53.1000         2       0
4         0       3   35      0      0   8.0500         2       1
5         0       3   28      0      0   8.4583         1       1
6         0       1   54      0      0  51.8625         2       1
7         0       3    2      3      1  21.0750         2       1
8         1       3   27      0      2  11.1333         2       0
9         1       2   14      1      0  30.0708         0       0

In [55]:
test_df = pd.read_csv('test.csv', header=0)

In [56]:
test_df['Gender'] = test_df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
test_df.Embarked = test_df.Embarked.map( lambda x: Ports_dict[x]).astype(int)
median_age = test_df['Age'].dropna().median()
if len(test_df.Age[ test_df.Age.isnull() ]) > 0:
    test_df.loc[ (test_df.Age.isnull()), 'Age'] = median_age

In [57]:
if len(test_df.Fare[ test_df.Fare.isnull() ]) > 0:
    median_fare = np.zeros(3)
    for f in range(0,3):                                              # loop 0 to 2
        median_fare[f] = test_df[ test_df.Pclass == f+1 ]['Fare'].dropna().median()
    for f in range(0,3):                                              # loop 0 to 2
        test_df.loc[ (test_df.Fare.isnull()) & (test_df.Pclass == f+1 ), 'Fare'] = median_fare[f]

In [58]:
ids = test_df['PassengerId'].values

In [59]:
test_df = test_df.drop(['Name', 'Sex', 'Ticket', 'Cabin', 'PassengerId'], axis=1)

In [60]:
train_data = train_df.values
test_data = test_df.values

In [61]:
train_data

array([[  0.    ,   3.    ,  22.    , ...,   7.25  ,   2.    ,   1.    ],
       [  1.    ,   1.    ,  38.    , ...,  71.2833,   0.    ,   0.    ],
       [  1.    ,   3.    ,  26.    , ...,   7.925 ,   2.    ,   0.    ],
       ...,
       [  0.    ,   3.    ,  28.    , ...,  23.45  ,   2.    ,   0.    ],
       [  1.    ,   1.    ,  26.    , ...,  30.    ,   0.    ,   1.    ],
       [  0.    ,   3.    ,  32.    , ...,   7.75  ,   1.    ,   1.    ]])

In [62]:
print 'Training...'
forest = RandomForestClassifier(n_estimators=100)
forest = forest.fit(train_data[:, 1:], train_data[:, 0])

Training...

In [63]:
print 'Predicting...'
output = forest.predict(test_data)

Predicting...

In [75]:
from pandas import DataFrame, Series
temp = DataFrame(zip(ids, output), columns=['PassengerId', 'Survived'])

In [78]:
temp.to_csv('output.csv', index=False)